.GeneralContainer{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:rgb(255, 255, 255);
    border: 2px solid rgb(51, 255, 0);
    color: black;
  }